tmp.*
mfit*
slurm*
*.json
*.log
it0*
local/*
src/python/build/*
build/Makefile
build/install_manifest.txt
build/CMakeCache.txt
build/cmake_install.cmake
oscan.*
examples/dihedwf/*
build/CMakeFiles/*
*egg-info
progress.marks
CMakeDirectoryInformation.cmake
build/src/python/Makefile
cmake_install.cmake
docs/_build/
*.pyc
__pycache__/
examples/scission-interface/fragments/